
<h2 class="sub-header ">奖学金 <a href="{:U('Admin/Scholarship/add')}" type="button" class="add btn btn-primary">添加奖学金</a></h2>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>姓名</th>
        <th>学号</th>
        <th>奖励时间</th>
        <th>奖励金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <foreach name="scholarship" item="v">
        <tr>
          <td>{$v.name}</td>
          <td>{$v.studyno}</td>
          <td>{$v.period}</td>
          <td>{$v.money}</td>
          <td>
            <a class="btn btn-sm btn-danger" href="{:U('Admin/Scholarship/delete',array('id'=>$v['id']))}">删除</a>
          </td>
        </tr>
      </foreach>
    </tbody>
  </table>
  <div class="page">{$page}</div>
