<include file="Layout:header" />
<include file="Layout:nav"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="{:U('Admin/Notice/index')}"><span class="icon glyphicon glyphicon-bullhorn"></span>通知公告</a></li>
          <li><a href="{:U('Admin/StudentInfo/index')}"><span class="icon glyphicon glyphicon-education "></span>学生基本信息</a></li>
          <li><a href="{:U('Admin/Master/index')}"><span class="icon glyphicon glyphicon-queen"></span>学生干部管理</a></li>
          <li><a href="{:U('Admin/Score/index')}"><span class="icon glyphicon glyphicon-stats"></span>学生成绩</a></li>
          <li><a href="{:U('Admin/Certificate/index')}"><span class="icon glyphicon glyphicon-thumbs-up"></span>学生获奖</a></li>
          <li><a href="#"><span class="icon glyphicon glyphicon-heart"></span>学生资助情况</a></li>
          <li><a href="#"><span class="icon glyphicon glyphicon-th-list"></span>学生考勤</a></li>
          <li><a href="#"><span class="icon glyphicon glyphicon-lamp"></span>学生请假</a></li>
          <li><a href="#"><span class="icon glyphicon glyphicon-yen"></span>奖学金管理</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {__CONTENT__}

      </div>
    </div>
  </div>
