
<h2 class="sub-header ">学生干部
  <button type="button" class="add btn btn-primary" data-toggle="modal" data-target="#addDutyModal">添加干部种类</button>
  <a href="{:U('Admin/Master/add')}" type="button" class="add btn btn-primary">添加学生干部</a>
</h2>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>职务</th>
        <th>姓名</th>
        <th>班级</th>
        <th>年级</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <foreach name="master" item="v">
        <tr>
          <td>{$v.dutyname}</td>
          <td>{$v.name}</td>
          <td>{$v.grade}</td>
          <td>{$v.class}</td>
          <td><a href="{:U('Admin/master/delete',array('studyno'=>$v['studyno']))}" type="button" class="btn btn-sm btn-danger">删除</a></td>
        </tr>
      </foreach>
    </tbody>
  </table>
  <div class="page">{$page}</div>
<div id="addDutyModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加学生干部职务</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">职务名称：</span>
          <input type="text" class="form-control" id="dutyName" placeholder="班长" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="modal-footer">
        <button id="addDuty" type="button" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $('#addDuty').click(function(){
    var $dutyNameInput = $('#dutyName');
    var dutyName = $dutyNameInput.val();
    var $close = $('')
    if(!dutyName){
      $dutyNameInput.focus();
      alert('职务名称不能为空');
    }
    $.post("{:U('Admin/Master/addDuty')}",{"dutyName":dutyName},function(result){
      alert('添加成功');
    })
    $('#addDutyModal').modal('hide')
  });
</script>
