
<h2 class="sub-header ">学生获奖 <a href="{:U('Admin/Notice/notice')}" type="button" class="add btn btn-primary">添加奖状或证书</a></h2>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..." style="height: 200px; width: 100%; display: block;">
      <div class="caption">
        <h3>三好学生</h3>
        <p>张三</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..." style="height: 200px; width: 100%; display: block;">
      <div class="caption">
        <h3>三好学生</h3>
        <p>张三</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..." style="height: 200px; width: 100%; display: block;">
      <div class="caption">
        <h3>三好学生</h3>
        <p>张三</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="..." style="height: 200px; width: 100%; display: block;">
      <div class="caption">
        <h3>三好学生</h3>
        <p>张三</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div class="page">{$page}</div>
